body{
    background-color: rgb(243, 222, 222);
}
.rule1{
    display: flex;
    background-color:  rgb(44, 16, 16);
    width: 100%;
    height: 70px;
    color: mintcream;
    
}
.rule2{
    background-color: orangered;
    width: 100%;
    height: 5px;
}
.umu{
    width: 10%;
    height: 70px;
}
.faculty{
    padding-left: 10px;
    font-weight: bold;
    font-size: 30px;
    padding-top: 10px;
    text-shadow: 2px 2px 2px red;
    font-family: PAPYRUS;
    display: flex;

}
#agry{
    padding: 10px;
    padding-left: 280px;
    font-family: Yu Mincho Light;
    font-size: larger;
}
i{
    font-size: 30px;
    padding-top: 20px;
    padding-left: 5px;
}
.second{
    width: 100%;
   display: flex;
    color: white; 
    padding-top: 30px;
    padding-left: 10px;
   
}

ul{
    padding-top: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.enrol{
    padding-left:60%;
padding-top: 20px;
font-size: 20px;

}
.middle{
    display: flex;
    height: 80%;
}
.third{
    padding-left: 20px;
    width: 50%;
   
}
.left{
    
    padding-top: 20px;
    padding-left: 40px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    font-family: georgia;


}
.lower{
    padding-top: 0px;
padding-left: 40%;
}
.carousel-inner{
    width: 120%;
    height: 100%;  
}
.image1{
    width: 100%;  
}
.people{
    width: 50%;
    height: 50%;
}
form{
padding-left: 15%;
padding-right: 15%;
padding-top: 30px;

}
.button{
    width: 250px; 
}
form #label::after{
    content: "*";
    color: red;
}
.cancel{
    padding-left: 50px;
    
}
.log{
    display: flex;
    justify-content: 20px;
}
.logoz{
    list-style-type: none;
    display: flex;
}
.conts{
    width: 100%;
  display: flex;
 padding-bottom: 40px;
justify-content: space-evenly;
}
.mangotrees{ 
 padding-left: 30px;
    background-repeat: no-repeat;
}
.motto{
    text-align: center;
    padding-top: 30px;
  padding-left: 20px;     
}

.course{
    width: 100%;
    padding-top: px;
padding-left: 100px;
padding-bottom: 50px;
}
table{
    text-align: center;
}
.Backhome{
    padding-top: 8px;
    padding-left: 900px;
    font-size: 20px;
}
.application{
     align-content: center;
}
.heading{
    font-family: Papyrus;
    display: flex;
    padding-left: 30%;  
}
.heading2{
    padding-top: 20px;
    padding-left: 30%;
}
    .application{
background-color: white;  
}
#format1{
    color: red;  
}
#format2{
    padding-top: 3px;
    padding-right: 18px;
    font-size: 30px;
}
.umulogo{
    padding-left: 38%;
    height: 40px;
    padding-bottom: 5px;
}
.slogan{
    font-style: italic;
    color: red;
    padding-left: 70%;
    padding-top: 40px;
}
 #label{
    padding-left: 40px;
}
#female{
    padding-left: 270px;
}
#subheader{
    padding-left: 40px;
}
.education{
    padding-left: 50px;
    padding-right: 50px;
}
th{
    background-color: rgb(68, 49, 49);
    color: white;
}
.costitle{
    padding-top: 20px;
}
.studyhr{
    padding-left: 180px;
}
.best{
    padding-bottom: 5px;
  
   padding-left: 20px;
   padding-top: 20px;
   display: flex;
   font-weight: bold;
    font-size: 15px;
    text-shadow: 2px 2px 2px red;
font-family: papyrus;
}
.b-img{
    background:   rgb(44, 16, 16);

    background-repeat: no-repeat; 
}
.dropdown{
    padding-left: 40px;
    padding-right: 40px;
}
.the-rest{
    padding-left: 40px;
}
.bg{
 font-size: 15px;
text-shadow: 0px 0px 1px red;
    padding-left: 20px;
    color: black;
}
.slides {
    padding-top: 70px;
    padding-left: 20px;
}
.comments{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.back{
   
    padding-left: 80%;
    font-size: 18px; 
}
#star{
    color: red;
    font-weight: bolder;
}
.req{
    padding-right: 70%;
    padding-bottom: 10px;
    padding-left: 40px;
}
.carousel-caption{
    color: pink;
    text-indent: 50px;
    text-shadow: 3px 3px 5px black;
}
.fa-phone{
    display: flex;
}
#contheading{
    color: red;
    text-shadow: 0px 0px 1px black;
}
.main{
    padding-left: 0px;
}